<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Model Deployment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
    <div>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center"><i class="material-icons">local_hospital</i>Pneumonia Disease Detection System</a>
        </div>
    </nav></br>
    <center class="container">
            <div class = "row">
                <form class = "col s12" method="post" action="/predict" enctype="multipart/form-data">
                   <div class = "row container">
                      <h5 class="white-text">Input Image</h5>
                      <div class = "file-field input-field">
                         <div class = "btn red lighten-2">
                            <span>Browse</span>
                            <input type = "file" name="file"/>
                         </div>
                         <div class = "file-path-wrapper">
                            <input class = "file-path validate" type = "text"
                               placeholder = "Upload file" />
                         </div>
                         <button class="btn-large red lighten-2 waves-effect waves-light pulse right" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                      </div>
                   </div>
                </form>       
             </div>
            <nav>
                <div class="brand-logo center">
                    {% if prediction_text %}
                    <b >{{ prediction_text }}</b>
                    {% endif %}
                </div>
            </nav>
    </center>
</body>
</html>
